body {
  background: url("/assets/img/win7.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.window {
  max-width: 30%;
  margin: 0;
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  left: 50%;
  transform: translateX(-50%);
}

a {
  font-size: 1.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

h2 {
  font-size: 1.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}


